/* .player-input-container {
    background-color: #F9F9F9;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #333333;
}

.player-input-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333333;
}

.form-group {
    margin-bottom: 15px;
}

.player-count {
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333333;
}

.player-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    color: #333333;
}

.player-names {
    margin-top: 5px;
    margin-bottom: 5px;
}

h3 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #333333;
}

.player-list {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.player-row {
    width: 100%;
}

.player-input {
    width: 250px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    color: #333333;
    margin-right: 50px;
}

.player-input::placeholder {
    color: #999999;
}

.player-input:focus {
    outline: none;
    border-color: #879676;
    box-shadow: 0 0 0 2px rgba(135, 150, 118, 0.2);
}

.generate-button {
    background-color: #879676;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 0px;
    transition: background-color 0.2s;
}

.generate-button:hover {
    background-color: #7A8768;
}

*/

.player-input-container {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 3px;
    font-weight: 500;
}

input,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.9rem;
    background-color: white;
    color: black
}

.player-names {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.player-names .form-group {
    flex: 1 1 calc(50% - 5px);
    min-width: 120px;
}

.generate-button {
    width: 100%;
    padding: 10px;
    background-color: #879676;
    color: white;
    margin-top: 10px;
}

.generate-button:hover {
    background-color: #7A8768;
}