.player-input-container {
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.generate-button {
    background-color: #879676;
    /* Muted green */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

.generate-button:hover {
    background-color: #7A8768;
    /* Slightly darker */
}