.app-container {
  max-width: 800px;
  min-width: 500px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
  color: #333333;
}

h1 {
  text-align: center;
  color: #333333;
  margin-bottom: 30px;
}